/* Styles for the CamperReviews component. */
.wrapper {
  display: flex;
  flex-direction: column;
}

.state {
  padding: 24px 0;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background: var(--inputs);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.avatar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: var(--white);
  color: var(--grey-green);
  font-weight: 600;
  font-size: 24px;
}

.reviewerInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-weight: 500;
  color: var(--main);
}

.content {
  display: flex;
  flex-direction: column;
}
